.css1{
	color: white;
	background-color: darkblue;
	text-align: center;
	width: 510px;
	margin: 0 auto;
	border: 10px darkgrey solid;
}
.css2{
	font-size: 20px;
	font-family: cursive;
	width: 490px;
	height: 25px;
}

